{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}

{% block main %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <p class="govuk-body">Research from the Department of Business and Trade suggest that visual performance, such as glancing at and reading text, is better with users who have perfect vision or corrected to near perfect vision (glasses, contacts) in light mode. Where users who have cotaracts or other eye related disorders found that dark mode increased visual performance.</p>
    <p class="govuk-body">Further research suggests that sustained exposure to light-mode may be associated with myopia (nearsightness). Stack Overflow undertook a survey in 2020 where they found 92% developers prefer dark mode. Reddit found in 2021 that 85% of users have dark mode enabled on their app. Flurry analytics found that people on average spend 6 or more hours each day on dark mode on smartphones.</p>
    
    <h2 class="govuk-heading-m">Example pages in dark mode</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="govuk.html">GOV.UK</a>
      </li>
      <li>
        <a class="govuk-link" href="mainstream-guide-page.html">Mainstream Guide Page</a>
      </li>
      <li>
        <a class="govuk-link" href="start-page.html">Start page</a>
      </li>
      <li>
        <a class="govuk-link" href="design-system.html">Design System</a>
      </li>
    </ul>
    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
