{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
          <h1 class="gem-c-title__text govuk-heading-xl">
            How to vote
          </h1>
        </div>
        <a class="gem-c-skip-link govuk-skip-link govuk-!-display-none-print" data-module="govuk-skip-link" href="#guide-contents" data-govuk-skip-link-module-started="true">Skip to contents of guide</a>
        <aside class="part-navigation-container" role="complementary">
          <nav data-module="gem-track-click ga4-link-tracker" aria-label="Pages in this guide" class="gem-c-contents-list" role="navigation" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
            <h2 class="gem-c-contents-list__title">
              Contents
            </h2>
            <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
              Overview
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/how-to-vote/voting-in-person" data-track-options="{&quot;dimension29&quot;:&quot;Voting in person&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:7,&quot;index_link&quot;:2}" href="/how-to-vote/voting-in-person">Voting in person</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/how-to-vote/postal-voting" data-track-options="{&quot;dimension29&quot;:&quot;Voting by post&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:7,&quot;index_link&quot;:3}" href="/how-to-vote/postal-voting">Voting by post</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="/how-to-vote/voting-by-proxy" data-track-options="{&quot;dimension29&quot;:&quot;Voting by proxy&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:7,&quot;index_link&quot;:4}" href="/how-to-vote/voting-by-proxy">Voting by proxy</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="/how-to-vote/voting-from-abroad" data-track-options="{&quot;dimension29&quot;:&quot;Voting from abroad&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:7,&quot;index_link&quot;:5}" href="/how-to-vote/voting-from-abroad">Voting from abroad</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="/how-to-vote/photo-id-youll-need" data-track-options="{&quot;dimension29&quot;:&quot;Photo ID you'll need&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:7,&quot;index_link&quot;:6}" href="/how-to-vote/photo-id-youll-need">Photo ID you'll need</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="/how-to-vote/voting-as-proxy-for-someone-else" data-track-options="{&quot;dimension29&quot;:&quot;Voting as a proxy for someone else&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:7,&quot;index_link&quot;:7}" href="/how-to-vote/voting-as-proxy-for-someone-else">Voting as a proxy for someone else</a>
            </li>
            </ol>
          </nav>
        </aside>
      </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6" id="guide-contents">
        <h1 class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-6">
  Overview
</h1>
      
<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak" data-govspeak-module-started="true">
    
        <p>You need to be <a href="/register-to-vote">registered to vote</a> before you can vote in UK elections or referendums.</p>

<p>You need to show photo ID when voting in person in some elections and referendums in England, Scotland and Wales. <a href="/how-to-vote/photo-id-youll-need">Check what types of ID you can use</a> before you go to vote.</p>

<p>There are different rules <a rel="external" href="http://www.eoni.org.uk/Vote/Voting-at-a-polling-place">if you vote in Northern Ireland</a>.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>This guide is also available <a href="/sut-i-bleidleisio">in Welsh (Cymraeg)</a>.</p>
</div>

<h2 id="ways-of-voting">Ways of voting</h2>

<p>You can vote:</p>

<ul>
  <li><a href="/how-to-vote/voting-in-person">in person at a polling station</a></li>
  <li><a href="/how-to-vote/postal-voting">by post</a></li>
  <li>by applying to have someone else vote for you (<a href="/how-to-vote/voting-by-proxy">voting by proxy</a>)</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>You cannot vote online in any elections.</p>
</div>

<h2 id="eligibility-to-vote">Eligibility to vote</h2>

<p>You can vote when you’re:</p>

<ul>
  <li>18 years old in England and Northern Ireland</li>
  <li>16 years old in Scottish Parliament and local elections (and other elections when you’re 18)</li>
  <li>16 years old in Senedd Cymru (Welsh Parliament) and local elections (and other elections when you’re 18)</li>
</ul>

<h2 id="elections-you-can-vote-in">Elections you can vote in</h2>

<p>There are different rules on who can vote in <a href="/elections-in-the-uk">different elections and referendums</a>.</p>


</div>

          <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="Pagination" data-module="ga4-link-tracker" data-ga4-link-tracker-module-started="true">

      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="/how-to-vote/voting-in-person" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/how-to-vote/voting-in-person" data-track-dimension="next" data-track-dimension-index="29" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;previous and next&quot;,&quot;text&quot;:&quot;Voting in person&quot;,&quot;section&quot;:&quot;Next&quot;}">
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Next</span>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Voting in person</span>
        </a>
      </div>
  </nav>


        <div class="responsive-bottom-margin">
          <a href="/how-to-vote/print" class="govuk-link govuk-link--no-visited-state govuk-body" data-module="ga4-link-tracker" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;print page&quot;,&quot;section&quot;:&quot;Footer&quot;,&quot;text&quot;:&quot;View a printable version of the whole guide&quot;}" data-ga4-link-tracker-module-started="true">
            View a printable version of the whole guide
          </a>
        </div>
  </div>

  
<div class="govuk-grid-column-one-third">
  
<div class="gem-c-contextual-sidebar">
      <div class="gem-c-step-nav-related gem-c-step-nav-related--singular" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
    <h2 class="gem-c-step-nav-related__heading">
      <span class="gem-c-step-nav-related__pretitle">Part of</span>
          <a href="/vote-uk-election" class="govuk-link" data-track-category="stepNavPartOfClicked" data-track-action="Part of" data-track-label="/vote-uk-election" data-track-dimension="Vote in UK elections" data-track-dimension-index="29" data-track-options="{&quot;dimension96&quot; : &quot;ff81c31c-3282-49df-85a4-013887130110&quot; }" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;part of&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;1&quot;,&quot;section&quot;:&quot;Part of&quot;}">
            Vote in UK elections
          </a>
        </h2>
</div>

      <div data-module="gemstepnav ga4-event-tracker" data-ga4-expandable="" class="gem-c-step-nav govuk-!-display-none-print gem-c-step-nav--active" data-id="ff81c31c-3282-49df-85a4-013887130110" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps" data-gemstepnav-module-started="true" data-ga4-event-tracker-module-started="true">
    <div class="gem-c-step-nav__controls govuk-!-display-none-print"><button aria-expanded="false" class="gem-c-step-nav__button gem-c-step-nav__button--controls js-step-controls-button" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index_section&quot;:0,&quot;index_section_count&quot;:10}" aria-controls="step-panel-check-if-you-can-vote-1"><span class="gem-c-step-nav__chevron gem-c-step-nav__chevron--down js-step-controls-button-icon"></span><span class="gem-c-step-nav__button-text gem-c-step-nav__button-text--all js-step-controls-button-text">Show all steps</span></button></div><ol class="gem-c-step-nav__steps">
        <li class="gem-c-step-nav__step js-step" id="check-if-you-can-vote" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="1">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label govuk-!-display-none-print visuallyhidden">Step</span> 1<span class="gem-c-step-nav__circle-step-colon govuk-!-display-none-print visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-if-you-can-vote-1" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Check if you can vote&quot;,&quot;index_section&quot;:1,&quot;index_section_count&quot;:10,&quot;index_total&quot;:1}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Check if you can vote
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-check-if-you-can-vote-1" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index_section&quot;:1,&quot;index_section_count&quot;:10,&quot;section&quot;:&quot;Check if you can vote&quot;}" data-ga4-link-tracker-module-started="true">
              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.1" class="gem-c-step-nav__link js-link" href="/elections-in-the-uk?step-by-step-nav=ff81c31c-3282-49df-85a4-013887130110">Check which elections you can vote in </a></li></ol>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="register-to-vote" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="2">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label govuk-!-display-none-print visuallyhidden">Step</span> 2<span class="gem-c-step-nav__circle-step-colon govuk-!-display-none-print visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-register-to-vote-2" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Register to vote&quot;,&quot;index_section&quot;:2,&quot;index_section_count&quot;:10,&quot;index_total&quot;:2}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Register to vote
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-register-to-vote-2" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index_section&quot;:2,&quot;index_section_count&quot;:10,&quot;section&quot;:&quot;Register to vote&quot;}" data-ga4-link-tracker-module-started="true">
              <p class="gem-c-step-nav__paragraph">You need to register to vote in elections and referendums. You need to register again if you have changed your name, address or nationality.</p>

              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.1" class="gem-c-step-nav__link js-link" href="/register-to-vote?step-by-step-nav=ff81c31c-3282-49df-85a4-013887130110">Register to vote online </a></li></ol>

              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.2" class="gem-c-step-nav__link js-link" href="/government/collections/register-to-vote-paper-forms?step-by-step-nav=ff81c31c-3282-49df-85a4-013887130110">Register to vote using a paper form </a></li></ol>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="decide-if-you-want-to-vote-in-person-by-post-or-by-proxy" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="3">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label govuk-!-display-none-print visuallyhidden">Step</span> 3<span class="gem-c-step-nav__circle-step-colon govuk-!-display-none-print visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-decide-if-you-want-to-vote-in-person-by-post-or-by-proxy-3" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Decide if you want to vote in person, by post, or by proxy&quot;,&quot;index_section&quot;:3,&quot;index_section_count&quot;:10,&quot;index_total&quot;:1}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Decide if you want to vote in person, by post, or by proxy
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-decide-if-you-want-to-vote-in-person-by-post-or-by-proxy-3" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index_section&quot;:3,&quot;index_section_count&quot;:10,&quot;section&quot;:&quot;Decide if you want to vote in person, by post, or by proxy&quot;}" data-ga4-link-tracker-module-started="true">
              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a data-position="3.1" class="gem-c-step-nav__link js-link" href="/voting-in-the-uk?step-by-step-nav=ff81c31c-3282-49df-85a4-013887130110">Find out the different ways you can vote </a></li></ol>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="get-ready-to-vote-in-person" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="4">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label govuk-!-display-none-print visuallyhidden">Step</span> 4<span class="gem-c-step-nav__circle-step-colon govuk-!-display-none-print visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-ready-to-vote-in-person-4" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Get ready to vote in person&quot;,&quot;index_section&quot;:4,&quot;index_section_count&quot;:10,&quot;index_total&quot;:2}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Get ready to vote in person
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-get-ready-to-vote-in-person-4" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index_section&quot;:4,&quot;index_section_count&quot;:10,&quot;section&quot;:&quot;Get ready to vote in person&quot;}" data-ga4-link-tracker-module-started="true">
              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a data-position="4.1" class="gem-c-step-nav__link js-link" href="/how-to-vote/photo-id-youll-need?step-by-step-nav=ff81c31c-3282-49df-85a4-013887130110">Check what ID you need to vote </a></li></ol>

              <p class="gem-c-step-nav__paragraph">Contact your local electoral registration office to find your polling station or to find out what to do if you have accessibility needs.</p>

              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a data-position="4.2" class="gem-c-step-nav__link js-link" href="/contact-electoral-registration-office?step-by-step-nav=ff81c31c-3282-49df-85a4-013887130110">Contact the local electoral registration office </a></li></ol>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="apply-for-a-postal-vote" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="5">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--logic">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      or
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-apply-for-a-postal-vote-5" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Apply for a postal vote&quot;,&quot;index_section&quot;:5,&quot;index_section_count&quot;:10,&quot;index_total&quot;:3}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Apply for a postal vote
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-apply-for-a-postal-vote-5" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index_section&quot;:5,&quot;index_section_count&quot;:10,&quot;section&quot;:&quot;Apply for a postal vote&quot;}" data-ga4-link-tracker-module-started="true">
              <p class="gem-c-step-nav__paragraph">In England, Scotland or Wales:</p>

              <ul class="gem-c-step-nav__list gem-c-step-nav__list--choice" data-length="2">
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.1" class="gem-c-step-nav__link js-link" href="/apply-postal-vote?step-by-step-nav=ff81c31c-3282-49df-85a4-013887130110">apply online for a postal vote </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.2" class="gem-c-step-nav__link js-link" href="/government/publications/apply-for-a-postal-vote?step-by-step-nav=ff81c31c-3282-49df-85a4-013887130110">apply by post for a postal vote </a></li>
</ul>

              <p class="gem-c-step-nav__paragraph">You must apply no later than 5pm, 11 working days before the election.</p>

              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a rel="external" data-position="5.3" class="gem-c-step-nav__link js-link" href="https://www.eoni.org.uk/Vote/Voting-by-post-or-proxy">Apply in Northern Ireland </a></li></ol>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="apply-for-a-proxy-vote" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="6">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--logic">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      or
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-apply-for-a-proxy-vote-6" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Apply for a proxy vote&quot;,&quot;index_section&quot;:6,&quot;index_section_count&quot;:10,&quot;index_total&quot;:3}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Apply for a proxy vote
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-apply-for-a-proxy-vote-6" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index_section&quot;:6,&quot;index_section_count&quot;:10,&quot;section&quot;:&quot;Apply for a proxy vote&quot;}" data-ga4-link-tracker-module-started="true">
              <p class="gem-c-step-nav__paragraph">In England, Scotland or Wales:</p>

              <ul class="gem-c-step-nav__list gem-c-step-nav__list--choice" data-length="2">
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="6.1" class="gem-c-step-nav__link js-link" href="/apply-proxy-vote?step-by-step-nav=ff81c31c-3282-49df-85a4-013887130110">apply online for a proxy vote </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="6.2" class="gem-c-step-nav__link js-link" href="/government/collections/proxy-voting-application-forms?step-by-step-nav=ff81c31c-3282-49df-85a4-013887130110">apply by post for a proxy vote </a></li>
</ul>

              <p class="gem-c-step-nav__paragraph">You must apply by 5pm, at least 6 working days before polling day.</p>

              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a rel="external" data-position="6.3" class="gem-c-step-nav__link js-link" href="https://www.eoni.org.uk/Vote/Voting-by-post-or-proxy">Apply in Northern Ireland </a></li></ol>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="get-ready-to-vote-as-a-proxy" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="7">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--logic">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      or
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-ready-to-vote-as-a-proxy-7" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Get ready to vote as a proxy&quot;,&quot;index_section&quot;:7,&quot;index_section_count&quot;:10,&quot;index_total&quot;:2}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Get ready to vote as a proxy
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-get-ready-to-vote-as-a-proxy-7" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index_section&quot;:7,&quot;index_section_count&quot;:10,&quot;section&quot;:&quot;Get ready to vote as a proxy&quot;}" data-ga4-link-tracker-module-started="true">
              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a data-position="7.1" class="gem-c-step-nav__link js-link" href="/how-to-vote/photo-id-youll-need?step-by-step-nav=ff81c31c-3282-49df-85a4-013887130110">Check what ID you need to vote </a></li></ol>

              <p class="gem-c-step-nav__paragraph">Contact the local electoral registration office of the person you are a proxy for to find their polling station or to find out what to do if you have accessibility issues.</p>

              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a data-position="7.2" class="gem-c-step-nav__link js-link" href="/contact-electoral-registration-office?step-by-step-nav=ff81c31c-3282-49df-85a4-013887130110">Contact the local electoral registration office </a></li></ol>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="vote-in-person" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="8">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label govuk-!-display-none-print visuallyhidden">Step</span> 5<span class="gem-c-step-nav__circle-step-colon govuk-!-display-none-print visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-vote-in-person-8" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Vote in person&quot;,&quot;index_section&quot;:8,&quot;index_section_count&quot;:10,&quot;index_total&quot;:1}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Vote in person
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-vote-in-person-8" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index_section&quot;:8,&quot;index_section_count&quot;:10,&quot;section&quot;:&quot;Vote in person&quot;}" data-ga4-link-tracker-module-started="true">
              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a data-position="8.1" class="gem-c-step-nav__link js-link" href="/how-to-vote/voting-in-person?step-by-step-nav=ff81c31c-3282-49df-85a4-013887130110">Vote in person </a></li></ol>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="vote-by-post" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="9">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--logic">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      or
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-vote-by-post-9" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Vote by post&quot;,&quot;index_section&quot;:9,&quot;index_section_count&quot;:10,&quot;index_total&quot;:1}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Vote by post
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-vote-by-post-9" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index_section&quot;:9,&quot;index_section_count&quot;:10,&quot;section&quot;:&quot;Vote by post&quot;}" data-ga4-link-tracker-module-started="true">
              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a data-position="9.1" class="gem-c-step-nav__link js-link" href="/how-to-vote/postal-voting?step-by-step-nav=ff81c31c-3282-49df-85a4-013887130110">Vote by post </a></li></ol>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="vote-as-a-proxy-for-someone-else" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="10">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--logic">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      or
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-vote-as-a-proxy-for-someone-else-10" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Vote as a proxy for someone else&quot;,&quot;index_section&quot;:10,&quot;index_section_count&quot;:10,&quot;index_total&quot;:1}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Vote as a proxy for someone else
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-vote-as-a-proxy-for-someone-else-10" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index_section&quot;:10,&quot;index_section_count&quot;:10,&quot;section&quot;:&quot;Vote as a proxy for someone else&quot;}" data-ga4-link-tracker-module-started="true">
              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a data-position="10.1" class="gem-c-step-nav__link js-link" href="/how-to-vote/voting-as-proxy-for-someone-else?step-by-step-nav=ff81c31c-3282-49df-85a4-013887130110">Vote as a proxy for someone else </a></li></ol>

</div>
        </li>
    </ol>
  </div>



</div>

</div>

</div>





    </main>
  </div>

      <div class="govuk-width-container">
        
<div class="gem-c-feedback govuk-!-display-none-print" data-module="feedback ga4-event-tracker" data-feedback-module-started="true" data-ga4-event-tracker-module-started="true">
  
<div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
  <div class="gem-c-feedback__prompt-content">
    <div class="gem-c-feedback__prompt-questions js-prompt-questions">
      <div class="gem-c-feedback__prompt-question-answer">
        <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>
        <ul class="gem-c-feedback__option-list">
          <li class="gem-c-feedback__option-list-item govuk-visually-hidden" hidden="">
            <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" role="button" hidden="hidden" aria-hidden="true" href="/contact/govuk">
              Maybe
</a>          </li>
          <li class="gem-c-feedback__option-list-item">
            <button class="govuk-button gem-c-feedback__prompt-link js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" data-ga4-event="{&quot;event_name&quot;:&quot;form_submit&quot;,&quot;type&quot;:&quot;feedback&quot;,&quot;text&quot;:&quot;Yes&quot;,&quot;section&quot;:&quot;Is this page useful?&quot;}">
              Yes <span class="govuk-visually-hidden">this page is useful</span>
</button>          </li>
          <li class="gem-c-feedback__option-list-item">

            <button class="govuk-button gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" aria-controls="page-is-not-useful" aria-expanded="false" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" data-ga4-event="{&quot;event_name&quot;:&quot;form_submit&quot;,&quot;type&quot;:&quot;feedback&quot;,&quot;text&quot;:&quot;No&quot;,&quot;section&quot;:&quot;Is this page useful?&quot;}">
              No <span class="govuk-visually-hidden">this page is not useful</span>
</button>          </li>
        </ul>
      </div>
    </div>

    <div class="gem-c-feedback__prompt-questions gem-c-feedback__prompt-success js-prompt-success" role="alert" hidden="">
      Thank you for your feedback
    </div>

    <div class="gem-c-feedback__prompt-questions gem-c-feedback__prompt-questions--something-is-wrong js-prompt-questions">
      <button class="govuk-button gem-c-feedback__prompt-link js-toggle-form js-something-is-wrong" aria-expanded="false" aria-controls="something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV-UK Open Form" data-ga4-event="{&quot;event_name&quot;:&quot;form_submit&quot;,&quot;type&quot;:&quot;feedback&quot;,&quot;text&quot;:&quot;Report a problem with this page&quot;,&quot;section&quot;:&quot;Is this page useful?&quot;}">
        Report a problem with this page
</button>    </div>
  </div>
</div>

  
<form action="https://www.gov.uk/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" hidden="">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-errors" tabindex="-1" hidden=""></div>

      <input type="hidden" name="url" value="https://www.gov.uk/how-to-vote">

      <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
      <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>

      <div class="govuk-visually-hidden" aria-hidden="true">
        <label for="giraffe">This field is for robots only. Please leave blank</label>
        <input id="giraffe" name="giraffe" type="text" pattern=".{0}" tabindex="-1" autocomplete="off">
      </div>

      
<div class="gem-c-textarea govuk-form-group govuk-!-margin-bottom-6">
    
  <label for="textarea-58a3152a" class="gem-c-label govuk-label">What were you doing?</label>





  <textarea name="what_doing" class="govuk-textarea" id="textarea-58a3152a" rows="3" spellcheck="true" aria-describedby="feedback_explanation"></textarea>
    
</div>

      
<div class="gem-c-textarea govuk-form-group govuk-!-margin-bottom-6">
    
  <label for="textarea-2f80f2b4" class="gem-c-label govuk-label">What went wrong?</label>





  <textarea name="what_wrong" class="govuk-textarea" id="textarea-2f80f2b4" rows="3" spellcheck="true"></textarea>
    
</div>


      


  <button class="gem-c-button govuk-button" type="submit" data-ga4-event="{&quot;event_name&quot;:&quot;form_submit&quot;,&quot;type&quot;:&quot;feedback&quot;,&quot;text&quot;:&quot;Send&quot;,&quot;section&quot;:&quot;Help us improve GOV.UK&quot;}">Send</button>



      <button class="govuk-button govuk-button--secondary gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true">
        Cancel
      </button>
    </div>
  </div>
<input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.google.com/"><input type="hidden" name="timer" value="0"></form>


<script nonce="">
//<![CDATA[
  document.addEventListener("DOMContentLoaded", function () {
    var input = document.querySelector("#giraffe"),
      form = document.querySelector("#something-is-wrong")

    form.addEventListener("submit", spamCapture);

    function spamCapture(e) {
      if (input.value.length !== 0) return;
      e.preventDefault();
    }
  });

//]]>
</script>
  
<form action="https://www.gov.uk/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" hidden="">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" id="survey-wrapper">
      <div class="gem-c-feedback__error-summary js-errors" tabindex="-1" hidden=""></div>

      <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
      <input name="email_survey_signup[survey_source]" type="hidden" value="/how-to-vote">

      <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
      <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>

      
<div class="govuk-form-group">

            
  <label for="input-49095acf" class="gem-c-label govuk-label">Email address</label>







    
    <input aria-describedby="survey_explanation" autocomplete="email" class="gem-c-input govuk-input" id="input-49095acf" name="email_survey_signup[email_address]" spellcheck="false" type="email">
</div>


      


  <button class="gem-c-button govuk-button" type="submit" data-ga4-event="{&quot;event_name&quot;:&quot;form_submit&quot;,&quot;type&quot;:&quot;feedback&quot;,&quot;text&quot;:&quot;Send me the survey&quot;,&quot;section&quot;:&quot;Help us improve GOV.UK&quot;}">Send me the survey</button>



      <button class="govuk-button govuk-button--secondary gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true">
        Cancel
      </button>

    </div>
  </div>
</form>

</div>

      </div>

{% endblock %}
